body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8b400;
  padding: 10px 0;
  text-align: center;
}
@media (min-width: 600px) {
  header {
    background-color: green;
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffdd57;
}

footer {
  background-color: #f8b400;
  padding: 10px 0;
  text-align: center;
}